AUTH_DB_NAME=auth_db
AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=auth_pass
AUTH_DB_ROOT_PASSWORD=root

MONITORING_DB_NAME=monitoring_db
MONITORING_DB_USER=monitoring_user
MONITORING_DB_PASSWORD=monitoring_pass
MONITORING_DB_ROOT_PASSWORD=root

DEVICE_DB_NAME=device_db
DEVICE_DB_USER=device_user
DEVICE_DB_PASSWORD=device_pass
DEVICE_DB_ROOT_PASSWORD=root

ALERT_DB_NAME=alert_db
ALERT_DB_USER=alert_user
ALERT_DB_PASSWORD=alert_pass
ALERT_DB_ROOT_PASSWORD=root
